@import "https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;700&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f7f4c6;
}

/*COLORES*/
.navbar {
  background-color: transparent;
  border-bottom: 1px solid #26a65d;
}
.navbar .navbar-brand {
  font-size: 2rem;
  color: #26a65d;
  font-weight: 700;
}
.navbar .navbar-brand:hover {
  color: #183b59;
}
.navbar .navbar-nav {
  margin: 0 auto;
}

.nav-item {
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.nav-item .nav-link {
  color: #26a65d;
}
.nav-item .nav-link:hover {
  color: #183b59;
  border-bottom: 1px solid #183b59;
}

@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
}
.slice {
  padding: 1.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first__section, .second__section {
  text-align: center;
  padding: 1rem;
}
.first__section .tittle, .second__section .tittle {
  font-family: "Encode Sans Expanded", sans-serif;
  line-height: 4rem;
  padding: 1rem;
  max-width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  color: #056830;
}

.productos__destacados--img {
  width: 30%;
  padding: 1rem 2rem;
  max-width: 100%;
}

.products__variety {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}

.products__variety--img {
  width: 30%;
  padding: 0.5rem 0.5rem;
}
.products__variety--img:hover {
  transition: 1s;
  opacity: 0.7;
}

.products__button {
  text-align: center;
  padding: 1rem;
}

.index-button {
  font-size: 3rem;
  padding: 0rem 5rem;
  background-color: #26a65d;
  border: 0.1rem solid #50bf80;
  color: #f2f2f2;
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  cursor: pointer;
}
.index-button:hover {
  background-color: #f2f2f2;
  color: #26a65d;
  border-color: #26a65d;
}

footer {
  background-color: #056830;
  padding-top: 0.5rem;
}
footer .footer-link {
  padding: 0 2rem;
  font-size: 2rem;
  color: #f2f2f2;
  text-decoration: none;
}
footer .footer-link:hover {
  color: #183b59;
  border-bottom: 1px solid #183b59;
  font-weight: 700;
}

.iconos {
  align-self: center;
  cursor: pointer;
}
.iconos .fa-brands {
  font-size: 2rem;
  margin: 0 4rem;
  color: #f2f2f2;
  text-decoration: none;
}
.iconos .fa-brands:hover {
  color: #183b59;
  font-weight: 700;
  border-bottom: 1px solid #183b59;
}

.footer-location {
  color: #f2f2f2;
  font-size: 2rem;
}

.footer-copyright {
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

.main-tittle h1 {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 5rem;
  color: #056830;
  font-weight: 700;
}

.description-history, .history-list {
  text-align: justify;
  font-size: 2.5rem;
  padding: 1.5rem 0;
}

.history-img {
  width: 50%;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.history-img-2 {
  width: 70%;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.history-list {
  font-weight: 700;
}

.history-img-3 {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.sucursal-main-location {
  padding: 2rem 0;
}
.sucursal-main-location .location {
  font-size: 5rem;
  font-weight: 700;
  color: #056830;
}

.sucursal-section {
  padding: 3.5rem 0;
}

.img-location {
  text-align: center;
  padding: 1rem 1rem;
  margin: 1rem 0;
}

.img-location-edit {
  border-radius: 50px;
}

.description {
  font-size: 3rem;
}

.allies-location {
  font-size: 2.5rem;
  align-self: center;
  text-align: center;
}

.allies-location-text {
  font-size: 2.5rem;
  align-self: center;
  text-align: center;
}

@media (max-width: 575px) {
  .location-order div:first-child {
    order: 3;
  }
}
.contact-section {
  padding: 2rem 2rem;
}

.contact-img {
  padding: 2rem 2rem;
}

.form-tittle {
  text-align: center;
  font-size: 4rem;
  color: #056830;
  font-weight: 700;
}

.section-form {
  margin: auto;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  border-color: #26a65d;
  box-shadow: 5px 5px 5px 0px #26a65d;
}

.form-label,
option {
  font-size: 2rem;
}

.form-check-label {
  font-size: 1.5rem;
  font-weight: 400;
}

.button-section {
  text-align: center;
  padding: 1rem 0;
}
.button-section .contact-button {
  font-size: 2rem;
  padding: 0rem 3rem;
  background-color: #26a65d;
  border: 0.1rem solid #50bf80;
  color: #f2f2f2;
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  cursor: pointer;
}
.button-section .contact-button:hover {
  background-color: #f2f2f2;
  color: #26a65d;
  border-color: #26a65d;
}

@media (max-width: 767px) {
  .contact-img {
    display: none;
  }
}
.products-tittle {
  text-align: center;
  padding: 2rem 0rem;
}
.products-tittle h1, .products-tittle h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #056830;
}

.brunch-img {
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.products-description {
  font-size: 2.5rem;
  text-align: justify;
}

.products-text {
  font-size: 2.5rem;
  text-align: justify;
  padding: 2rem;
}

/*# sourceMappingURL=style.css.map */
