.contact-section {
  padding: 2rem 2rem;
}

.contact-img {
  padding: 2rem 2rem;
  
}

.form-tittle {
  text-align: center;
  font-size: 4rem;
  color: $color5;
  font-weight: 700;
}
.section-form {
  margin: auto;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  border-color: $color2;
  box-shadow: 5px 5px 5px 0px $color2;
}

.form-label,
option {
  font-size: 2rem;
}

.form-check-label {
  font-size: 1.5rem;
  font-weight: 400;
}

.button-section {
  text-align: center;
  padding: 1rem 0;
  .contact-button {
    font-size: 2rem;
    padding: 0rem 3rem;
    background-color: $color2;
    border: 0.1rem solid $color3;
    color: $color4;
    font-family: "Dongle", sans-serif;
    font-weight: 300;
    cursor: pointer;
    &:hover {
      background-color: $color4;
      color: $color2;
      border-color: $color2;
    }
  }
}

@media (max-width: 767px) {
  .contact-img {
    display: none;
  }
}
