.slice {
  padding: 1.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first__section {
  text-align: center;
  padding: 1rem;
  .tittle {
    font-family: "Encode Sans Expanded", sans-serif;
    line-height: 4rem;
    padding: 1rem;
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    color: $color5;
  }
}

.productos__destacados--img {
  width: 30%;
  padding: 1rem 2rem;
  max-width: 100%;
}

.second__section {
  @extend .first__section;
}

.products__variety {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}

.products__variety--img {
  width: 30%;
  padding: 0.5rem 0.5rem;
  &:hover {
    transition: 1s;
    opacity: 0.7;
  }
}

.products__button {
  text-align: center;
  padding: 1rem;
}

.index-button {
  font-size: 3rem;
  padding: 0rem 5rem;
  background-color: $color2;
  border: 0.1rem solid $color3;
  color: $color4;
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  cursor: pointer;
  &:hover {
    background-color: $color4;
    color: $color2;
    border-color: $color2;
  }
}
