/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans", sans-serif;
}

/* CSS GENERALES */
html {
  font-size: 62.5%;
}

body {
  background: #f7f4c6;
}

/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;700&display=swap");

/* 
font-family: 'Dongle', sans-serif;
font-family: 'Encode Sans', sans-serif;
*/

/* NAVBAR CSS */
.navbar {
  background-color: transparent;
  border-bottom: 1px solid #26a65d;
}

.navbar-brand {
  font-size: 2rem;
  color: #26a65d;
  font-weight: 700;
}

.navbar-brand:hover {
  color: #183b59;
}

.navbar-nav {
  margin: 0 auto;
}

.nav-item {
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.nav-link:hover {
  color: #183b59;
  border-bottom: 1px solid #183b59;
}

.nav-link {
  color: #26a65d;
}

/*INDEX CSS*/

.slice {
  padding: 1.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slice__img {
  width: 100%;
}

.first__section {
  text-align: center;
  padding: 2rem;
}

.tittle {
  font-family: "Encode Sans Expanded", sans-serif;
  line-height: 4rem;
  padding: 1rem;
  max-width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
}

.productos__destacados {
  max-width: 100%;
}

.productos__destacados--img {
  width: 30%;
  padding: 1rem 2rem;
  max-width: 100%;
}


.second__section {
  text-align: center;
  padding: 2rem;
}

.products__variety {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.products__variety--img {
  width: 30%;
  padding: 0.5rem 0.5rem;
}

.products__variety--img:hover {
  transition: 1s;
  opacity: 0.7;
}

.products__button {
  text-align: center;
  padding: 3rem;
}

.index-button {
  font-size: 3rem;
  padding: 0rem 5rem;
  background-color: #26a65d;
  border: 0.1rem solid #50bf80;
  color: #f2f2f2;
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.index-button:hover {
  background-color: #f2f2f2;
  color: #26a65d;
  border-color: #26a65d;
}

/* SUCURSAL PAGE CSS */

.location {
  font-size: 5rem;
}

.sucursal-main-location {
  padding: 2rem 0;
  font-size: 3rem;
}

.sucursal-section {
  padding: 3.5rem 0;
}

.img-location {
  text-align: center;
  padding: 1rem 1rem;
  margin: 1rem 0;
}

.img-location-edit {
  border-radius: 50px;
}

.description {
  font-size: 4rem;
}

.allies-location {
  font-size: 2.5rem;
  align-self: center;
  text-align: center;
}

.allies-location-text {
  font-size: 2.5rem;
  align-self: center;
  text-align: center;
}

/*CONTACTO CSS*/

.contact-section {
  z-index: 0;
  padding: 2rem 2rem;
}

.contact-img {
  padding: 2rem 2rem;
}

.section-form {
  margin: auto;
}

.form-tittle {
  text-align: center;
  font-size: 3rem;
  color: #26a65d;
  font-weight: 700;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  border-color: #26a65d;
  box-shadow: 5px 5px 5px 0px #26a65d;
}

.form-label,
option {
  font-size: 2rem;
}

.form-check-label {
  font-size: 1.5rem;
  font-weight: 400;
}

.contact-button {
  font-size: 2rem;
  padding: 0rem 3rem;
  background-color: #26a65d;
  border: 0.1rem solid #50bf80;
  color: #f2f2f2;
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #f2f2f2;
  color: #26a65d;
  border-color: #26a65d;
}

.button-section {
  text-align: center;
  padding: 1rem 0;
}

.svg-edit{
  z-index: -1;
  position: relative;
}

/* FOOTER CSS */
footer {
  background-color: #056830;
}

.footer-link {
  padding: 0 2rem;
  font-size: 2rem;
  color: #f2f2f2;
  text-decoration: none;
}

.iconos {
  align-self: center;
  cursor: pointer;
}

.footer-link:hover {
  color: #183b59;
  border-bottom: 1px solid #183b59;
  font-weight: 700;
}

.fa-brands {
  font-size: 2rem;
  margin: 0 4rem;
  color: #f2f2f2;
  text-decoration: none;
}

.fa-brands:hover {
  color: #183b59;
  font-weight: 700;
  border-bottom: 1px solid #183b59;
}

.footer-location {
  color: #f2f2f2;
  font-size: 2rem;
}
.footer-copyright {
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }

  .contact-img {
    display: none;
  }

  .contact-section {
    background-image: url(../assets/30.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}